*
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif
}

body
{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(74, 83, 136);
  color: white;
  font-size: 5rem;

}